<?xml version="1.0" encoding="utf-8" ?>
<PluginSetting>
  <PluginCollection>
    <Plugin Name="Plugin.PluginA" Type="Plugin.PluginA.PlguinADataContext">
      <UrlSettings>
        <add key="baidu" value="http://www.baidu.com"></add>
      </UrlSettings>
      <PluginStart Time="10:25:00|18:30:00" AttempCount="10" OverCount="25" Interval="3000" />
    </Plugin>
    <Plugin Name="Plugin.PluginB" Type="Plugin.PluginB.PlguinBDataContext">
      <UrlSettings>
        <add key="sina" value="http://www.sina.com.cn"></add>
      </UrlSettings>
      <PluginStart Time="10:25:00|18:30:00" AttempCount="10" OverCount="25" Interval="3000" SleepTime="1000" />
    </Plugin>
  </PluginCollection>
</PluginSetting>